body,h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1, p {
    margin-right: 10px;
   
}

.container {
    margin: 0 auto;
    max-width: 992px;
    padding: 0 20px;
}

.pageheading {
    text-align: center;
    margin-top: 20px;
    font-size: 175%;
    padding: 0px 0px 100px 0px;

}

.section {
    background-color: #808080;
    border: 1px solid #000;
    margin-bottom: 20px;
    box-sizing: border-box;

}

.sectiontitle {
    position: relative;
    top: 50;
    right: 50;
    background-color: ffcccb;
    font-size: 125%;
    border: 1px solid #000;
    padding: 5px 10px;
    margin: 0px;
    box-sizing: border-box;
    
}

.sectiontext {
    font-size: 100%;
    padding: 40px 20px 20px 20px;
}

.column {
  float: left;
  width: 33.33%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}
    


@media screen and (min-width: 767px) {
    /* Mobile view */
    .section {
        width: 100%;
        margin: 0;
    }

    .section-title {
        font-size: 150%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    /* Tablet view */
    .section {
        width: 50%;
        float: left;
        clear: both;
    }

    .section:nth-child(3) {
        width: 100%;
        clear: both;
    }

    .section-title {
        font-size: 125%;
    }
}

@media screen and (min-width: 992px) {
    /* Desktop view */
    .section {
        width: 33.33%;
        float: left;
        clear: none;
    }

    .section-title {
        font-size: 100%;
    }
}